* {
    box-sizing: border-box;
  }
  .box {
    float: left;
    width: 33.33%;
    padding: 50px;
  }
#bloc1 {
    background-color: #2ecc71;
    padding: 15px;
    width: 80%; 
}
#bloc2 {
    background-color: #2980b9;
    padding: 15px;
    width: 20%;  
}
#bloc3 {
    background-color: #e74c3c;
    padding: 45px;
    width: 33.33%; 
}
#bloc4 {
    background-color: #e67e22;
    padding: 25px;
    width: 33.33%;
}
#bloc5 {
    background-color: #95a5a6;
    padding: 25px;
    width: 33.33%;
}
#bloc6 {
   background-color: #f39c12;
   padding: 20px;
   width: 22.22%; 
}
#bloc7 {
   background-color: #16a085;
   padding: 20px; 
   width: 22.22%;
}
#bloc8 {
    background-color: #d35400;
    padding: 20px;
    width: 22.22%;
}
#bloc9 {
    background-color: #2c3e50;
    padding: 60px;
    width: 100%;
}